<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
</head>

<body>
    <br><br>
    <h1 align='center'>Welcome
        <%= name %>
    </h1>
    <h4 align='center'>You have successfully registered with XYZ Hotels. Please click below to explore opportunities and to get in touch with your colleagues.</h4>
    <div align='center'>
        <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
            <tr>
                <td width="250" height="60" align="center" bgcolor="#2f9780" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                    <a href="https://github.com/udaysingh236" style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff" class="button_link">Explore Now!
                        <img src="../images/favicon-16x16.png"
                            width="32" height="17" style="padding-top:5px" alt="" border="0" />
                        <!-- <img src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/73ac4376-78ab-4d32-a0b5-b8195202e51f.jpg"
                            width="32" height="17" style="padding-top:5px" alt="" border="0" /> -->
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>